In [13]:
import pandas as pd
import numpy as np

In [2]:
data = [{
    "shelf": 3,
    "rack": 1,
    "item": "sketchy banana",
    "inventory":1,
    "price": 1
},{
    "shelf": 2,
    "rack": 4,
    "item": "lone bacon slice",
    "inventory":1,
    "price":2
},{
    "shelf": 5,
    "rack": 3,
    "item": "holiday cheer",
    "inventory":20,
    "price":5.10
},{
    "shelf": 2,
    "rack": 1,
    "item": "empirical pineapple",
    "inventory":11,
    "price":3
},{
    "shelf": 2,
    "rack": 2,
    "item": "lone bacon slice",
    "inventory":1,
    "price":2  
},{
    "shelf": 3,
    "rack": 1,
    "item": "kosher pepper",
    "inventory":2,
    "price": 2.30
},{
    "shelf": 3,
    "rack": 2,
    "item": "kosher pepper",
    "inventory":2,
    "price": "ducky"
}]

In [3]:
df = pd.DataFrame(data)

In [5]:
df

   inventory                 item  price  rack  shelf
0          1       sketchy banana      1     1      3
1          1     lone bacon slice      2     4      2
2         20        holiday cheer    5.1     3      5
3         11  empirical pineapple      3     1      2
4          1     lone bacon slice      2     2      2
5          2        kosher pepper    2.3     1      3
6          2        kosher pepper  ducky     2      3

In [7]:
df["price"] = df["price"].replace({
    "ducky":2.3
})

In [21]:
used_shelves=df["shelf"].unique() #shelves 1 and 4 are not in use
used_shelves

array([3, 2, 5])

In [19]:
# if i had a listing of all of my shelves 
shelves = list(np.arange(1,6))
print(shelves)

[1, 2, 3, 4, 5]

In [20]:
for shelf in list(used_shelves):
    shelves.remove(shelf)
print(shelves)

[1, 4]

In [24]:
used_rack=df["rack"].unique()
used_rack

array([1, 4, 3, 2])

In [41]:
df["inventory"].nsmallest()

0    1
1    1
4    1
5    2
6    2
Name: inventory, dtype: int64

In [28]:
df[df["inventory"]<5]

   inventory              item  price  rack  shelf
0          1    sketchy banana    1.0     1      3
1          1  lone bacon slice    2.0     4      2
4          1  lone bacon slice    2.0     2      2
5          2     kosher pepper    2.3     1      3
6          2     kosher pepper    2.3     2      3

In [8]:
df

   inventory                 item  price  rack  shelf
0          1       sketchy banana    1.0     1      3
1          1     lone bacon slice    2.0     4      2
2         20        holiday cheer    5.1     3      5
3         11  empirical pineapple    3.0     1      2
4          1     lone bacon slice    2.0     2      2
5          2        kosher pepper    2.3     1      3
6          2        kosher pepper    2.3     2      3

In [59]:
item_inventory =df[["item", "inventory"]].groupby(["item"]).sum()

In [61]:
item_inventory.to_csv("./pandas_data/item_inventory.csv")

In [50]:
item_inventory["inventory"].sum()

38

In [56]:
(df["inventory"]*df["price"]).sum()

149.2